{Y}-{m}-{d}_{h}-{M}-{s}_backup.log
{Y}-{m}-{d}_{h}-{M}-{s}_gui.log
Xorg.0.log
Xorg.0.log.old
Xorg.1.log
Xorg.1.log.old
access_log
alternatives.log
apport.log
apt-clone_system_state.tar.gz
apt-term.log
apt.log
auth.log
boot.log
bootstrap.log
btmp
btmp.1
btrbk.log
confighandler.log
debiantesting.log
debug.log
dmesg
dpkg.log
eipp.log.xz
epctrl.log
error.log
error_log
faillog
fctc.log
fctsched.log
fontconfig.log
gpu-manager.log
history.log
hylafax.log
kern.log
kernelstub.log
lastlog
lspci.txt
main.log
minidlna.log
mosquitto.log
redis-server.log
sslvpn.log
syslog
system.journal
system76-driver.log
tallylog
telemetry
term.log
ubuntu-advantage-license-check.log
ubuntu-advantage-timer.log
ubuntu-advantage.log
ubuntu18.04.log
univention.log
update.log
upgrade.log
user-1000.journal
user-1001.journal
vmware-installer
vmware-usbarb-{pid}.log
vnetlib
wtmp
xorg_fixup.log
xrdp-sesman.log
xrdp.log
errors.log
message
auth.log
kern.log
cron.log
maillog
boot.log
mysqld.log
secure
utmp
wtmp
yum.log
faillog